html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #b9b9b9;
  --gray-color-darker: #535151;
  --black: #000000;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #b38bff;
}

/* ### TODO ### Styles for other HTML elements */

/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */
.header {
    background-color: #c5e2a8; 
    color: var(--black);
    padding: 32px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__image {
    width: 50px; /* Oder eine Größe, die dir gefällt */
    height: auto;
    
}

/* ### TODO ### Styles for Main Component */

.main {
    display: flex;
    padding: 50px;
    gap: 30px;
}

.main__tagging {
    flex: 1;

}

.main__discovery {
    flex: 3;
}

/* ### TODO ### Styles for Tagging component */
.tagging h2 {
    margin-bottom: 20px; 
}

.tagging legend {
    color: var(--black);
    font-weight: bold;
    margin-top: 10px;
}

.tagging fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;    
    border: 2px solid var(--gray-color) ;
    padding: 15px;
}

.tagging label {
    color: var(--gray-color-darker);
    font-weight: bold;
    margin-top: 10px;
}

.tagging input {
    color: var(--gray-color-darker);
    width: 90%;
    padding: 8px;
    box-sizing: border-box; /* Damit das Padding die Box nicht sprengt */
}

.tagging button {
    border: none;
    color: var(--black);
    background-color: #c5c5c5;
    width: 90%;
    padding: 8px;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 5px;
}

.tagging button:hover {
    background-color: #b9b9b9; 
}

/* ### TODO ### Styles for Discovery component */
.discovery h2 {
    margin-bottom: 20px;
}

.discovery legend {
    color: var(--black);
    font-weight: bold;
    margin-top: 10px;
}

.discovery fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;    
    border: 2px solid var(--gray-color) ;
    padding: 15px;
}

.discovery label {
    color: var(--gray-color-darker);
    font-weight: bold;
    margin-top: 10px;
}

.discovery input {
    color: var(--gray-color-darker);
    width: 20%;
    padding: 8px;
    box-sizing: border-box; /* Damit das Padding die Box nicht sprengt */
}


.discovery button {
    border: none;
    color: var(--black);
    background-color: #c5c5c5;
    width: 20%;
    padding: 8px;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 5px;
}

.discovery button:hover {
    background-color: #b9b9b9; 
} 

.discovery__wrapper {
    display: flex;  /* Macht den Wrapper zum "Mini-Regal" */
    margin-top: 30px;
    gap: 30px;      /* Abstand zwischen Liste und Karte */
}

.discovery__results {
    list-style: none; 
    padding: 0;
}

.discovery__results li {
    border-radius: 5px;
    background-color: #dfdfdf;
    color: #b38bff  ;
    font-size: 1rem; /* Vergrößert den Text (Standard ist meist 1rem) */
    font-weight: bold;
    border: 2px solid var(--gray-color) ;
    padding: 22px;        /* Platz im Inneren der Box */
    margin-bottom: 10px;  /* Abstand zwischen den einzelnen Boxen */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ein ganz leichter Schatten für Tiefe */
}

.discovery__results li:hover {
    background-color: #cfcfcf; 
}

.discovery__taglist {
    flex: 1;        /* Die Liste nimmt einen Teil ein */
}

.discovery__map {
    display: flex;
    flex-direction: column;
    flex: 1;        /* Die Karte nimmt auch einen Teil ein */
}

.discovery__map img {
    width: 100%;    /* Das Bild füllt immer die ganze Breite seiner Spalte aus */
    height: auto;   /* Das Seitenverhältnis bleibt erhalten */
    border-radius: 5px;
}

.discovery__map span {
  margin-top: 5px;
}

#map { 
   height: 500px;
 }

/* ### TODO ### Styles for Footer Component */
.footer {
    background-color: #c5e2a8;
    color: #000000;
    padding: 16px;
    text-align: center;
    margin-top: auto; /* Schiebt den Footer ganz nach unten, falls wenig Inhalt da ist */
}


/* ### TODO ### Media Queries */

@media screen and (max-width: 760px) {
    .main {
        flex-direction: column; /* Stapelt Tagging und Discovery untereinander */
    }

    .tagging{
        width: 100%;

    }
    .discovery__wrapper {
        flex-direction: column; /* Stapelt Liste und Karte untereinander */
    }

    .discovery input, .discovery button {
        width: 100%; /* Auf dem Handy brauchen wir große Trefferflächen für die Finger */
    }
}