html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #bab5b5;
  --gray-color-darker: #535151;
  --black: #000000;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */
.header {
    background-color: var(--gray-color); /* Nutzt dein definiertes Grau */
    color: var(--black);
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__image {
    width: 50px; /* Oder eine Größe, die dir gefällt */
    height: auto;
}

/* ### TODO ### Styles for Main Component */

.main {
    display: flex;
    gap: 20px;
    padding: 30px;
}

.main__tagging {
    flex: 1;

}

.main__discovery {
    flex: 1;
}

/* ### TODO ### Styles for Tagging component */
.tagging h2 {
    padding: 15px;
}

.tagging legend {
    color: var(--black);
    font-weight: bold;
    margin-top: 10px;
}

.tagging fieldset {
    display: flex;
    flex-direction: column;
    width: 93%;
    gap: 10px;    
    border: 2px solid var(--gray-color) ;
    padding: 15px;
}

.tagging label {
    color: var(--gray-color-darker);
    font-weight: bold;
    margin-top: 10px;
}

.tagging input {
    color: var(--gray-color-darker);
    width: 90%;
    padding: 8px;
    box-sizing: border-box; /* Damit das Padding die Box nicht sprengt */
}

.tagging button {
    color: var(--black);
    width: 90%;
    padding: 8px;
    font-weight: bold;
    margin-top: 10px;  
}

/* ### TODO ### Styles for Discovery component */
.discovery h2 {
    padding: 15px;
}

.discovery legend {
    color: var(--black);
    font-weight: bold;
    margin-top: 10px;
}

.discovery fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;    
    border: 2px solid var(--gray-color) ;
    padding: 15px;
}

.discovery label {
    color: var(--gray-color-darker);
    font-weight: bold;
    margin-top: 10  px;
}

.discovery input {
    color: var(--gray-color-darker);
    width: 20%;
    padding: 8px;
    box-sizing: border-box; /* Damit das Padding die Box nicht sprengt */
}

.discovery button {
    color: var(--black);
    width: 20%;
    padding: 8px;
    font-weight: bold;
    margin-top: 10px; 
}

.discovery__wrapper {
    display: flex;  /* Macht den Wrapper zum "Mini-Regal" */
    gap: 1px;      /* Abstand zwischen Liste und Karte */
}

.discovery__taglist {
    flex: 1;        /* Die Liste nimmt einen Teil ein */
}

.discovery__map {
    flex: 1;        /* Die Karte nimmt auch einen Teil ein */
}

/* ### TODO ### Styles for Footer Component */
.footer {
    background-color: var(--gray-color);
    color: #000000;
    padding: 2rem;
    text-align: center;
    margin-top: auto; /* Schiebt den Footer ganz nach unten, falls wenig Inhalt da ist */
}


/* ### TODO ### Media Queries */

/* ... your code here ... */